div.uk-icon-hover.uk-icon-map-marker.uk-icon-small.uk-margin-left(style=" font-size: 15px; " data-uk-tooltip="{offset:20, animation: true,pos:'top'}" title="32-32 33 St Astoria, NY 11106")


a.uk-icon-hover.uk-icon-map-marker.uk-icon-small.uk-margin-left(style=" font-size: 15px; " data-uk-tooltip="{offset:20, animation: true,pos:'top'}" title="32-32 33 St Astoria, NY 11106")
