// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "slick";

body{
  background-color: #fbfbfb;
  color: #111;
}

img{
  z-index: 99999;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.7);

}
figure.portfolio{
  background-color: #fafafa;
  border: 1px solid #bbb;
  border-radius: 5px;
}
figure:hover{
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75) !important;
  cursor: pointer;
}

figure.about{
  border-radius: 80px;
}
figcaption.portfolio{

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

figcaption.about{
  border-radius: 80px;

}

.photo{

  width: 85px;
  height: 75px;
  background-color: #fafafa;
  border: 1px solid #bbb;
  border-radius: 5px;
}


.photo-big{
  width: 205px;
  height: 145px;
}

.inactive{

  opacity: 0.7;
}

.active
{
  box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.75);
}

.second-title{
  display: block;
  margin-bottom: 30px;
  font-size: 25px;
}
.justify{

  text-align: justify;
}
.project{

  color: #bbb !important;
}

.project a{

  text-decoration: none;
  color: inherit;
}


.third-title{
  font-size: 20px;
}
.project a:hover{

  text-decoration: none;
  color: #5B92AF !important;
}

a.blue_link{
  color: #5B92AF !important;
}

h1 strong{
  color: #111 !important;
}

a.head:hover{

  color: #fbfbfb !important;
}

footer p{
  color: #fbfbfb;
  font-size: 16px;

}
.liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }

.italify{
  font-style: italic;
}

.header{
  height: 150px;
}
.highlights li{

  padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 7px;
    font-size: 12px;
}

.highlights li:last-child{
    border-bottom: 0px solid #ccc;
}
.header-image{
      height: 150px;
    border-radius: 90px;

}
.fade-header{
  height: 150px;
  background: rgba(0,0,0,0.6);
}

ul.content-normal li{

  margin-bottom: 30px;
}

.test{
  background-image: image-url("photonyc.jpeg");
}
.top-menu-el{

  // font-family: 'Arimo', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 3.2em;
  letter-spacing: 2px;
  font-style: normal;
  cursor: pointer;
  display: inline-block;
}

.top-menu-el:hover{

  background-image: linear-gradient(
        180deg, rgba(0,0,0,0),
        rgba(0,0,0,0) 81%,
        #222222 81.1%,
        #222222 85%,
        rgba(0,0,0,0) 85.1%,
        rgba(0,0,0,0)
    );
    text-decoration: none;

}

.top-menu-el-fade-header{

  // font-family: 'Arimo', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  color: #fbfbfb;
  font-size: 14px;
  line-height: 3.2em;
  letter-spacing: 2px;
  font-style: normal;
  cursor: pointer;
  display: inline-block;
}

.top-menu-el-fade-header:hover{

  background-image: linear-gradient(
        180deg, rgba(0,0,0,0),
        rgba(0,0,0,0) 81%,
        #fbfbfb 81.1%,
        #fbfbfb 85%,
        rgba(0,0,0,0) 85.1%,
        rgba(0,0,0,0)
    );
    text-decoration: none;

}

.top-title{
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.289474em;
  font-size: 33px;
  color: #fbfbfb;

}
.t2{
    color: #333;
  }
.content-title
{
  font-family: 'Open Sans', sans-serif;
  font-size: 31px;
  color: #111;
}

.content{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #111;
}

.content-strong
{
  font-weight: bold;
}

.accordion{
  margin-top: 10px;
  border-left: solid 1px #bbb;

}

.accordion-margin{

  margin-top: 10px;
  padding-right: 20px;
}

.content-normal{
  margin-top: 3px;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif;
}

.location{
  margin-top: 3px;
  margin-bottom: 58px;
}

.bar{

  border-bottom: 1px solid #bbb;
  width: 100%;

}

.main{
  font-size: 16px;

}




#test .arc2 {
            stroke-weight:0.1;
            fill: #3660b0;
        }


        .skill-circle {
            width: 25%;
            height: 120px;
            padding-right: 20px;
            box-sizing: border-box;
            float: left;
        }

        .radial {
            border-radius: 3px;
            background: #FFFFFF;
            color: #000;

        }

.background {
    fill: red;
    fill-opacity: 0.01;
}

.component {
    fill: #e1e1e1;

}

.component .label {
    font-family: 'Josefin Sans', sans-serif;
    text-anchor: middle;
    fill: #333;
    font-size: 15px;
}

.arc {
    stroke-weight:0.1;
    fill: #333;


}
.invisible{
  display: none;
}
.phrase{

  background-color: #f7f7f7;
    border: 1px solid #dddddd;
    border-radius: 12px;
    color: #333;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.label {
    font-family: 'Josefin Sans', sans-serif;
    text-anchor: middle;

}

.radial-svg {
    display: block;
    margin: 0 auto;
    margin-bottom:20px;
    padding-left: 10px;
}

#chart{
    background-color: #fbfbfb;
}
.label2 {
    font-family: 'Josefin Sans', sans-serif;
    fill: #fbfbfb;
    font-size: 10px;

}
.label3 {
    font-family: 'Josefin Sans', sans-serif;


}
.wtf{
    fill: #e1e1e1;
}

#tooltip{
        margin-top: 150px;
        margin-left: -10px;
    width: 110px;
    border-radius: 3px;
    background-color: #333;
    color: #bbb;
    padding: 3px;
    font-size: 12px;
    text-align: center;

}


.arrow_box {
  position: relative;

}
.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(89, 213, 155, 0);
  border-right-color: #333;
  border-width: 5px;
  margin-top: -5px;
  margin-left: -3px;
}
.arrow_box:before {

}
