<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
  <title>Oliver Hoffman</title>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
 <!-- <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script> -->

</head>
<body class="uk-height-1-1">

<%= yield %>

</body>
</html>
